[user]
  name = Dennis Staiger
  email = 5349+davosian@users.noreply.github.com
[core]
  editor = code --wait
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = main
[credential]
  helper = osxkeychain
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[push]
  default = simple
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[alias]
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  d = diff
  dc = diff --cached
  l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
