# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Prevent files with sensitive information to be exposed
Evernote.sublime-settings

# Package Control temp files
Package Control.cache/
*.last-run
